@model IList<Event>
@{
    ViewData["Title"] = "Dev Page";
}

<h1>@ViewBag.Title</h1>

<p>Es ist aktuell: @ViewBag.DateTimeNow</p>

<ul>
    <li>@Html.ActionLink("Veranstaltungen", "Index", "Event", null, new { target = "_blank" })</li>
    @foreach (var e in Model)
    {
    <li>@Html.ActionLink($"{e.Title} ({e.StartDateTime} - {e.EndDateTime})", "Show", "Survey", new { id = e.EventID }, new { target = "_blank" })</li>
    }
</ul>